extends: default

ignore: |
  .golangci.yaml

# (deduced from generated yaml by kubebuilder:)
rules:
  comments:
    require-starting-space: false
  document-start: false
  indentation:
    indent-sequences: consistent
  line-length:
    max: 120
